$base-color: #c6538c;

//PRIMARY
$primary50: #dceefb;
$primary100: #b6e0fe;
$primary200: #84c5f4;
$primary300: #62b0e8;
$primary400: #4098d7;
$primary500: #2680c2;
$primary600: #186faf;
$primary700: #0f609b;
$primary800: #0a558c;
$primary900: #003e6b;

//NEUTRALS 50-900
$neutrals50: #f0f4f8;
$neutrals100: #d9e2ec;
$neutrals200: #bcccdc;
$neutrals300: #9fb3c8;
$neutrals400: #829ab1;
$neutrals500: #627d98;
$neutrals600: #486581;
$neutrals700: #334e68;
$neutrals800: #243b53;
$neutrals900: #102a43;

//CYAN
$cyan50: #e0fcff;
$cyan100: #bef8fd;
$cyan200: #87eaf2;
$cyan300: #54d1db;
$cyan400: #38bec9;
$cyan500: #2cb1bc;
$cyan600: #14919b;
$cyan700: #0e7c86;
$cyan800: #0a6c74;
$cyan900: #044e54;
